@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body{
font-family:"Yanone Kaffeesatz","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:16px;
margin-bottom:20px;
}

.match-finder{
margin-top:50px;
}

.close{
font-size: 25px;
font-weight: bold;
line-height: 18px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.5;
filter: alpha(opacity=50);
text-decoration: none;
padding-left: 5px;
}
.close:hover{
color: #000000;
text-decoration: none;
opacity: 0.8;
filter: alpha(opacity=80);
cursor:pointer;
}

.help-block{
margin-bottom:0;
}

.gs-auth{
margin-top:80px;
width:550px;
}
.gs-auth h1{
margin-bottom:40px;
}

a:hover{
-webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
-moz-transition: color 0.2s ease-in, background 0.2s ease-in;
transition: color 0.2s ease-in, background 0.2s ease-in;
}
a{
-webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
-moz-transition: color 0.2s ease-in, background 0.2s ease-in;
transition: color 0.2s ease-in, background 0.2s ease-in;
}
