body{
font-family: "Yanone Kaffeesatz","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:16px;
margin-bottom:20px;
}

@media(min-width: 768px){
	.navbar-g .navbar-collapse .navbar-nav{
	margin-top:29px;
	}
	.navbar-g .nav>li>a {
	margin:0 10px;
	}
}

.navbar-g{
background-color:transparent;
border-color:transparent;
font-weight:700;
font-size:18px;
-moz-box-shadow:0 1px 3px 0 #555;
-webkit-box-shadow:0 1px 3px 0 #555;
box-shadow:0 1px 3px 0 #555;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
margin:0;
z-index:2;
border-bottom:#ddd 1px solid;
}
.navbar-g .navbar-brand{
height:auto;
padding:15px 30px;
}
.navbar-g .navbar-nav>.active>a, .navbar-g .navbar-nav>.active>a:focus, .navbar-g .navbar-nav>.active>a:hover{
border:#457044 1px solid;
background:transparent;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
.navbar-g .navbar-nav>li>a {
color:#333;
}
.navbar-g .navbar-nav>li>a:focus, .navbar-g .navbar-nav>li>a:hover, .navbar-g .navbar-nav>.active>a:focus, .navbar-g .navbar-nav>.active>a:hover {
color:#116320;
}
.navbar-g .navbar-nav>.active>a{
color:#333;
}

.navbar-admin{
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
width:100%;
overflow:hidden;
}
.navbar-admin  .navbar-brand{
padding:7px 40px;
}
@media(min-width: 768px){
	.navbar-admin{
	max-height:95px;
	}
	.navbar-admin .navbar-collapse .navbar-nav, .navbar-admin .navbar-collapse .input-group{
	margin-top:20px;
	}
	.navbar-admin .nav>li>a {
	margin:0;
	}
}

@media(min-width: 768px){
	.navbar-admin-side{
	min-height:100%;
	margin:0;
	border-radius:0;
	border-top:0;
	}
}
.navbar-admin-side .navbar-collapse{
padding:0;
max-height:none;
}

.nav-admin-side .divider{
height:3px;
background:#eee;
}
.nav-admin-side > .active > a, .nav-admin-side > .active > a:hover, .nav-admin-side > .active > a:focus {
color:#fff;
background-color:#434DB0;
}

.nav-tabs-admin{
margin-top:14px;
}

.nav-container{
border:#ddd 1px solid;
border-top:0;
padding-top:20px;
padding-bottom:20px;
}

@media(min-width: 768px){
	.admin-wrapper{
	position:relative;
	height:100%;
	width:100%;
	padding-top:96px;
	}
}
.clear{
clear:both;
}
.no-padding{
padding:0 !important;
margin:0 !important;
}
@media(min-width: 768px){
	.full-height{
	height:100%;
	}
}

.panel-filters .input-group{
margin-bottom:8px;
}

.thumbnail-profile-pic{
padding:20px;
color:#666;
text-align:center;
background:#eee;
box-shadow:inset 0 0 0 5px #fff;
height:100px;
}

.quick-action-label{
padding-top:10px;
}

.multiple-edit input[type=text]{
margin-bottom:5px;
}
.country-city{
margin-bottom:5px;
}

.close{
font-size: 25px;
font-weight: bold;
line-height: 18px;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.5;
filter: alpha(opacity=50);
text-decoration: none;
padding-left: 5px;
}
.close:hover{
color: #000000;
text-decoration: none;
opacity: 0.8;
filter: alpha(opacity=80);
cursor:pointer;
}

.hidden-upload{
width:0.1px;
height:0.1px;
opacity:0;
overflow:hidden;
position:absolute;
z-index:-1;
}
.row-entity-upload {
margin-right:-2px;
margin-left:-2px;
}
.row-entity-upload .col-xs-3, .row-entity-upload .col-sm-3, .row-entity-upload .col-md-3, .row-entity-upload .col-lg-3, .row-entity-upload .col-xs-6, .row-entity-upload .col-sm-6, .row-entity-upload .col-md-6, .row-entity-upload .col-lg-6, .row-entity-upload .col-xs-9, .row-entity-upload .col-sm-9, .row-entity-upload .col-md-9, .row-entity-upload .col-lg-9 {
padding-right:2px;
padding-left:2px;
}

.image-upload .thumbnail{
position:relative;
width:100%;
}
.image-upload .action-label{
position:absolute;
margin:0;
margin-left:-5px;
text-align:center;
padding:6px 15px;
left:9px;
right:4px;
bottom:4px;
background:rgba(1,1,1,0.3);
transition:background 0.2s ease-in;
color:#fff;
text-shadow:0 1px 0 #000;
}
.image-upload .thumbnail:hover{
cursor:pointer;
}
.image-upload .thumbnail:hover .action-label{
background:rgba(1,1,1,0.8);
transition:background 0.2s ease-in;
}
.image-upload .view-button{
display:none;
position:absolute;
right:6px;
top:6px;
}
.image-upload .thumbnail:hover .view-button{
display:block;
}
.image-upload .view-button:hover + .action-label{
background:rgba(1,1,1,0.3);
}
.profile-pic .thumbnail{
width:170px;
height:170px;
}

.cnic-pic .thumbnail{
height:170px;
}
.profile-pic .thumbnail img, .cnic-pic .thumbnail img{
max-height:160px;
}

.form-horizontal .checkbox-label{
padding-top:0;
}
.help-block{
margin-bottom:0;
}

.line-header{
font-weight:bold;
text-align:center;
overflow:hidden;
margin-bottom:15px;
}
.line-header span{
position:relative;
}
.line-header span:before,
.line-header span:after{
content:"";
position:absolute;
border-bottom:1px solid #eee;
top:50%;
width:800px;
}
.line-header span:before{
right:100%;
margin-right:15px;
}
.line-header span:after{
left:100%;
margin-left:15px;
}

.hide-empty-hr:empty + hr{
display:none;
}

a:hover{
-webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
-moz-transition: color 0.2s ease-in, background 0.2s ease-in;
transition: color 0.2s ease-in, background 0.2s ease-in;
}
a{
-webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
-moz-transition: color 0.2s ease-in, background 0.2s ease-in;
transition: color 0.2s ease-in, background 0.2s ease-in;
}
